*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../imgs/cloud-assignment13.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1100px;
    margin: 20px auto 0;
}
.box{
    float: left;
    width: 100%;
}
.box .item{
    color: white;
    background-color: rgb(174, 188, 195);
    float: left;
    width: 22%;
    border: 1px solid #3a788e;
    border-radius: 5px;
    margin-right: 2.9%;
    margin-bottom: 30px ;
    padding:20px;
    position: relative;
}
.box .item .date{
    width: 100%;
    margin-bottom: 10px;
}
.box .item .detail{
    width: 100%;
    float: left;
}
.detail .temp{
    width: 100%;
    float: left;
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 10px;
}
.detail .description{
    font-size: 14px;
}
.box .item .icon{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

