body {
    font-size: 20px;
    line-height: 1,5;
    margin-top: 50px;
    margin-left: 200px ;
    margin-right: 300px;
}

h5{
    font-weight: 400;
    text-align: right;
}

p.title{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    color: orangered;
}
hr{
    color: red;
}

img {
    position: static;
    width: 100px;
    height: auto;
}