body {
    background-image:url("../imgs/background_cv_2.jpg");
    background-size: cover;

}
#master{

    width: 900px;
    height: 800px;
    margin-top: 40px ;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    /*border: 1px dashed #ff000060;*/
    /*overflow: hidden;*/

}
#div1{
    background-color: rgba(220, 214, 194, 0.99);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 900px;
    height: 100px;
    text-align: center;
}

#div2{
    float: left;
    width: calc((100% / 3) - 30px);
    padding-left: 20px;
    margin-left: 20px;
    margin-top: -90px;
    height: 770px;
    background-color: rgb(219, 212, 212);
}
#div3{
    float: left;
    padding-left: 20px;
    width: calc(66.66% - 60px);
    height: 798px;

}

div img {
    margin: auto;
    width: 50%;
    display: block;/* none */
    border-radius: 140px;
}
