*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #323232;
    /*background-color: #6e6943;*/
    /*background-image:url("../imgs/practical/background.gif");*/
    /*background-size: cover;*/
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    z-index: -1;
}
.header{
    font-weight: 700;
    font-size: 25px;
    position: relative;
}
.header .menu {
    position: absolute;
    top:40px;
    left: 35%;
    display: flex;
}
.header .menu ul{
    list-style: none;
    display: flex;
}
.header .menu ul li{
    color:#a1a1a1;
    margin-right: 15px;
}
.header .top-content{
    width: 100%;
    position: absolute;
    bottom: 15px;
}
.header .top-content .left{
    position: relative;
}
.header .top-content .left .text{
    color: #323232;
    position: absolute;
    left: 43%;
}
.body{
    width: 100%;
    background-image: url("../imgs/practical/content_bg.gif");
    background-repeat: repeat-y;
    background-size: contain;
}
.body .content1,
.content2{
    padding: 20px 35px 30px 25px;
    word-spacing: 1.5px;
}
span{
    text-decoration: underline;
}
.title2{
    border-bottom: 2px solid #605b36;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}
.title2 img{
    z-index: 3;
}
aside .image{
    padding: 10px 15px 20px 30px;
}
.detail-img{
    text-align: center;
    padding: 5px;
    width: 50%;
    float: right;
}
.detail-img .title-img{
    color: #ffffff;
    font-weight: bold;
}